@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .app-container {
    border: 1px solid red;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
  }
}

@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }

  .app-container {
    border: 1px solid red;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
  }
}
