@media (min-width: 768px) {
  .content-box {
    border: 1px solid blue;
    flex-direction: column;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    color: white;
  }

  .content-box h1 {
    margin: 0;
  }

  .content-box p {
    text-align: center;
  }

  .login-section {
    border: 1px solid yellow;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    gap: 8px;
    height: 50px;
    width: 200px;
  }

  .login-button span svg {
    fill: #1db954;
    height: 1.2em;
    width: 1.2em;
  }

  .login-button p {
    color: white;
    margin: 0;
  }

  .coffee-button img {
    width: 200px;
    border: 1px solid red;
  }

  .socials {
    display: flex;
    gap: 8px;
    flex-direction: row;
    width: 100%;
    border: 1px solid green;
    justify-content: center;
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .content-box {
    border: 1px solid blue;
    flex-direction: column;
    width: 90%; /* Adjust for smaller screens */
    height: auto; /* Allow flexible height */
    display: flex;
    align-items: center;
    color: white;
  }

  .content-box h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .content-box p {
    text-align: center;
    font-size: 0.9rem;
  }

  .login-section {
    border: 1px solid yellow;
    height: auto; /* Adjust for content height */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    gap: 8px;
    height: 50px;
    width: 100%; /* Full width for smaller screens */
    max-width: 200px;
  }

  .login-button span svg {
    fill: #1db954;
    height: 1.2em;
    width: 1.2em;
  }

  .login-button p {
    color: white;
    margin: 0;
  }

  .coffee-button img {
    width: 150px; /* Smaller width for mobile */
  }
}
